.child{
    background-color:rgb(158, 227, 133);
    width:40%;
    margin:4px auto;
    padding:10px;
    border: 1px solid rgb(70, 88, 64);
    border-radius: 4px;
    box-shadow:8px rgb(210, 217, 208); 
    }